.overViewCardTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.overViewCardDescription {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 18px;
}

.overViewCardValueDesc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #0ba565;
}

.overViewCardSubDesc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -3%;
}

@media (max-width: 992px) {
    .overViewCardTitle {
      font-size: 18px;
    }
  
    .overViewCardDescription {
      font-size: 16px;
    }
  
    .overViewCardValueDesc {
      font-size: 13.5px;
    }
  
    .overViewCardSubDesc {
      font-size: 11.5px;
    }
  }
  
  @media (max-width: 768px) {
    .overViewCardTitle {
      font-size: 17px;
    }
  
    .overViewCardDescription {
      font-size: 15px;
    }
  
    .overViewCardValueDesc {
      font-size: 13px;
      line-height: 135%;
    }
  
    .overViewCardSubDesc {
      font-size: 11px;
      line-height: 105%;
    }
  }
  
  @media (max-width: 480px) {
    .overViewCardTitle {
      font-size: 16px;
    }
  
    .overViewCardDescription {
      font-size: 14px;
    }
  
    .overViewCardValueDesc {
      font-size: 12.5px;
    }
  
    .overViewCardSubDesc {
      font-size: 10.5px;
    }
  }
  