.cookiex-cmp-admin {
    .cookiex-content {
        background: #fff;
        margin: 0;
    }

    .ck-flex-container {
        display: flex;
        margin-left: -20px;
    }

    .ck-side-bar {
        width: 300px;
        background: #fff;
        border-right: 1px solid #eaeaea;
        padding: 20px;
    }

    .ck-main {
        flex-grow: 1;
        padding: 20px;
    }

    .ck-main-content {
        padding: 20px;
        margin-bottom: 20px;
    }

    .cookiex-admin-header {
        padding: 0 20px;
        background: #fff;
        color: lightdark(var(--mantine-color-white), var(--mantine-color-dark));
        gap: var(--mantine-spacing-md);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
    }

    .ck-navbar-links {
        .ck-navbar-linksInner {
            padding: 12px 16px;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 8px;

            &:hover {
                background: #f5f5f5;
            }

            &.ckActive {
                background: #f0f0f0;
            }
        }
    }
}